!! rxvt-unicode section

! load as login shell
URxvt*loginShell: true

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! hide scrollbar
URxvt*scrollBar: false

! set font
URxvt.font: xft:dejavusansmono:pixelsize=12

URXvt*background:   [97]#282a36
URXvt*foreground:   #eff0eb
URXvt*cursorColor:  #9aedfe
URXvt*color0:      #33303b
URXvt*color8:      #4f4b58
URXvt*color1:      #ff5c57
URXvt*color9:      #ff5c57
URXvt*color2:      #5af78e
URXvt*color10:     #5af78e
URXvt*color3:      #f3f99d
URXvt*color11:     #f3f99d
URXvt*color4:      #57c7ff
URXvt*color12:     #57c7ff
URXvt*color5:      #ff6ac1
URXvt*color13:     #ff6ac1
URXvt*color6:      #9aedfe
URXvt*color14:     #9aedfe
URXvt*color7:      #eff0eb
URXvt*color15:     #eff0eb

! allow solarized display in 256 colors
URxvt.intensityStyles: false
